<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        Home Page
    </title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    My ASP.NET Application
                </h1>
            </div>
            <div class="loginDisplay">

                [ <a href="~/Account/Login" id="HeadLoginView_HeadLoginStatus">Log In</a> ]

            </div>
            <div class="clear hideSkiplink">
                <div class="menu" id="NavigationMenu" style="float: left;">
                    <ul class="level1 static" tabindex="0" role="menubar" style="position: relative; width: auto; float: left;">
                        <li role="menuitem" class="static" style="position: relative; float: left;"><a class="level1 static" href="/" tabindex="-1">Home</a></li>
                        <li role="menuitem" class="static" style="position: relative; float: left;"><a class="level1 selected static" href="~/Home/About" tabindex="-1">About</a></li>
                    </ul>
                </div><div style="clear: left;"></div><a id="NavigationMenu_SkipLink"></a>
            </div>
        </div>
        <div class="main">
            @RenderBody()
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        &copy; @DateTime.Now.Year Foody
    </div>
</body>
@RenderSection("scripts", required: false)
</html>