@{
    ViewBag.Title = "Home Page";
}
<h2>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    @if (User.Identity.IsAuthenticated)
    {
        <text> Hello <span class="light-color">@User.Identity.Name</span>!
        </text>
    }
    else
    {
        <text> Wellcome! Please <a href="/Account/Login" class="light-color">
                Log in
            </a> to enjoy.
        </text>
    }
</h2>

